@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
@import url("https://cdn.fontcdn.ir/Font/Persian/Lalezar/Lalezar.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Vazir", sans-serif;
  background-color: #f9fafb; /* رنگ پس‌زمینه */
}

.vazir-font {
  font-family: "Vazir", sans-serif;
}

.lalezar-font {
  font-family: "Lalezar", cursive;
}
